<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wackycodes.mvvm.multitablayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerMitra">
        <activity android:name="wackycodes.mvvm.multitablayout.ActivityNotifications"></activity>
        <activity
            android:name="wackycodes.mvvm.multitablayout.ActivityMain"
            android:theme="@style/Theme.CareerMitra.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>